#landing-page body {
	background-color: #A2BABC;
}

#landing-page .smallerLogo {
	width: 300px;
}


.cardColor {
	background-color: #455769;
	color: #F3F5F2;
}

.startCardColor {
	background-color: #A2BABC;
	color: #455769;
	border-color: #455769;
}

.btn:hover{
	background-color: #455769;
	color: #A2BABC;
}



/* * nice colors that i can use 
#F3F5F2
#818484
#A2BABC
#807B7A
#455769
*/






















/* div {
	border: 1px;
	border-style: solid;
	background-color: coral;
} */


/* .btn {
	background-color: #1c6e8c;
	outline: none;
	box-shadow: none;
	border: 0px;
	font-size: medium;
	color: #ffffff;

	padding-top: 3%;
	padding-bottom: 3%;
	padding-inline-start: 5%;
	padding-inline-end: 5%;
}
.btn:hover {
	outline: none;
	background-color: #0a2f3d;
}
.btn:focus {
	outline: none;
	background-color: #1c6e8c;
	box-shadow: none;
}
.btn:active {
	background-color: #041a22;
	outline: none;
	box-shadow: none;
}
.btn:active:focus {
	outline: none;
	box-shadow: none;
} */