#landing-page body {
	/* background-color:#F5D6BA; */
	background-color: #d0ccd0;
}

#landing-page .smallerLogo {
	width: 300px;
}




/* .btn {
	background-color: #1c6e8c;
	outline: none;
	box-shadow: none;
	border: 0px;
	font-size: medium;
	color: #ffffff;

	padding-top: 3%;
	padding-bottom: 3%;
	padding-inline-start: 5%;
	padding-inline-end: 5%;
}
.btn:hover {
	outline: none;
	background-color: #0a2f3d;
}
.btn:focus {
	outline: none;
	background-color: #1c6e8c;
	box-shadow: none;
}
.btn:active {
	background-color: #041a22;
	outline: none;
	box-shadow: none;
}
.btn:active:focus {
	outline: none;
	box-shadow: none;
} */